---
import { Image } from "astro:assets";
import logoImage from "../assets/logo.svg";
import themeConfig from "../../theme.config";
---

<div
  class="w-full bg-white/80 dark:bg-zinc-950/80 h-14 my-auto sticky top-0 border-b dark:border-zinc-900 backdrop-blur-lg z-20"
>
  <nav
    class="w-full max-w-4xl mx-auto h-full flex justify-between items-center px-4"
  >
    <a href="/">
      <div class="flex items-center space-x-2">
        <div class="w-8 h-8">
          <Image class="w-full h-full" src={logoImage} alt="logo" />
        </div>
        <span class="font-semibold">{themeConfig.title}</span>
      </div>
    </a>
    <div>
      <ul class="flex items-center space-x-6">
        {
          themeConfig.navbar?.map((item) => (
            <li class="nav-link">
              {item.icon ? (
                <a href={item.href}>
                  <div set:html={item.icon} class="w-4 h-4" />
                </a>
              ) : (
                <a href={item.href}>{item.title}</a>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>

<style lang="postcss" is:global>
  .nav-link {
    @apply opacity-50 hover:opacity-100 transition-opacity ease-out;
  }
  .nav-icon {
    @apply fill-current w-full h-full;
  }
</style>
