---
import { Image } from "@astrojs/image/components";
import themeConfig from "../../theme.config";
---

<div
  class="w-full h-14 my-auto sticky top-0 border-b border-zinc-900 backdrop-blur-lg"
>
  <nav
    class="w-full max-w-4xl mx-auto h-full flex justify-between items-center px-4"
  >
    <a href="/">
      <div class="flex items-center space-x-2">
        <div class="w-8 h-8">
          <Image
            class="w-full h-full"
            src={import("../assets/logo.svg")}
            alt="logo"
          />
        </div>
        <span class="font-semibold">{themeConfig.title}</span>
      </div>
    </a>
    <div>
      <ul class="flex items-center space-x-6">
        {
          themeConfig.navbar?.map((item) => (
            <li class="nav-link">
              {item.icon ? (
                <a href={item.href}>
                  <div set:html={item.icon} class="w-4 h-4" />
                </a>
              ) : (
                <a href={item.href}>{item.title}</a>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</div>

<style lang="postcss" is:global>
  .nav-link {
    @apply opacity-50 hover:opacity-100 transition-opacity ease-out;
  }
  .nav-icon {
    @apply fill-white w-full h-full;
  }
</style>
